Plugins>Coherent DMD Simulator, "Ray Tracing Approach", de.bio_photonics.fiji_plugin.RayTracingApproach("")
Plugins>Coherent DMD Simulator, "Analytic Phase Shifting Approach", de.bio_photonics.fiji_plugin.AnalyticPhaseShifter("")
Plugins>Coherent DMD Simulator, "Grating Approach", de.bio_photonics.fiji_plugin.GratingApproach("")
Plugins>Coherent DMD Simulator, "Blaze Condition Approach", de.bio_photonics.fiji_plugin.BlazeConditionApproach("")
Plugins>Coherent DMD Simulator, "Diffraction Space Analysis", de.bio_photonics.fiji_plugin.OneColAnalyzer("")