
Plugins>Coherent-DMD-Simulator, "AnalyticPhaseShifter", de.bio_photonics.fiji_plugin.AnalyticPhaseShifter("")
Plugins>Coherent-DMD-Simulator, "Grating Approach", de.bio_photonics.fiji_plugin.GratingApproach("")
Plugins>Coherent-DMD-Simulator, "OneColAnalyzer", de.bio_photonics.fiji_plugin.OneColAnalyzer("")
Plugins>Coherent-DMD-Simulator, "TwoColAnalyzer", de.bio_photonics.fiji_plugin.TwoColAnalyzer("")
